* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #307c29;
}
.container { 
    padding-inline: 20px; 
    max-width: 100%;
}
header {
    background: #307c29;
    height: 120px;
    width: 100%;
    background-position: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 2px #ffffff;
}
li {
    display: inline;
    font-weight: bold;
}
nav {
    float: right;
    padding-right: 30px;
    margin-right: 160px;
}
nav ul {
    margin-top: 15px;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 30px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
nav ul li a:hover {
    color: #0088a9;
}
nav ul li ul {
    position: absolute;
    background: #000;
    padding: 0;
    display: none;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    display: block;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul li ul li a {
    text-transform: none;
    font-size: 12px;
}
nav ul li ul li a:hover {
    color: #0088a9;
}
.logo img {
    width: 120px;
    float: left;
    height: auto;
    margin-left: 180px;
}
.home {
    width: 100%;
    height: 85vh;
    background-color: #37e66b;
    position: relative;
}

.me {
    width: 300px;
    margin-top: 50px;
    margin-right: 220px;
    float: right;
    box-shadow: 0px 0px 10px #000;
}
.me-content {
    width: 500px;
    height: 200px;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}
.me-title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}
.me-text {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.big-name {
    font-size: 50px;
    color: #a91400;
    text-transform: uppercase;
}
.btn {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background: #a91400;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary:hover {
    background: #54a5db;
    transition: 0.5s;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-about {
    display: inline;
    margin-top: 50px;
}
.about-banner {
    display: block;
}
.htmll {
    width: 70px;
    height: auto;
    margin-left: 500px;
    margin-right: 50px;
}
.csss {
    width: 50px;
    height: auto;
    margin-right: 60px;
}
.c {
    width: 50px;
    height: auto;
    margin-right: 60px;
}
.cplus {
    width: 50px;
    height: auto;
    margin-right: 50px;
}
.csharp {
    width: 50px;
    height: auto;
    margin-right: 50px;
}
.java {
    width: 50px;
    height: auto;
}
.section-subtitle {
    font-size: 20px;
    color: #FFA500;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 40%;
}
.section-title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 40%;
}
.section-text {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    overflow: hidden;
    margin-left: 40%;
}
.dp {
    width: 250px;
    height: auto;
    margin-left: 150px;
    margin-right: 50px;
    float: left;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000;
}
.motto {
    color: #e4f73b;
}
.resumebtn {
    float: right;
    margin-bottom: 50px;
    margin-right: 400px;
}

.section-resume {
    height: 100vh;
    position: relative;
    margin-top: 50px;
    display: inline;
}
.embedresume {
    width: 50%;
    height: 900px;
    margin-left: 25%;
    scroll-behavior: smooth;
}
.resume-title {
    text-align: center;
    margin-top: 50px;
}
.section-resume-title {
    font-size: 20px;
    color: #FFA500;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.container-skills {
  width: 80%;
  background-color: #ddd;
  margin-left: 120px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.html {width: 70%; background-color: #04AA6D;}
.css {width: 60%; background-color: #2196F3;}
.js {width: 5%; background-color: #f44336;}
.php {width: 5%; background-color: #808080;}

.nobg {
    height: 150px;
}
.nobg1 {
    height: 150px;
}
.skillname {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.skill-title {
    text-align: center;
}
.contacts {
    width: 30%;
}
.socmed {
    display: inline;
}
.github {
    margin-left: 50px;
}
.gmail {
    margin-left: 200px;
}

@media only screen and (max-width: 425px) {
    header {
        width: 150%;
    }
    .home {
        width: 150%;
    }
    .embedresume {
        width: 100%;
        height: 1000px;
    }
}
@media only screen and (max-width: 768px) {
    .logo img{
        margin-left: 10px;
    }
    .nav ul li {
        margin-left: 10px;
    }
    .embedresume {
        height: 1000px;
    }
    .container-skills {
        margin-left: 80px;
    }
    .github {
        margin-left: 30px;
    }
    .gmail {
        margin-left: 160px;
    }
}
@media only screen and (max-width: 1024px) {
    .embedresume {
        height: 1000px;
    }
    .me {
        margin-right: 340px;
    }
    .me-content {
        margin-left: 250px;
    }
    .container-skills {
        margin-left: 100px;
    }
    .github {
        margin-left: 50px;
    }
    .gmail {
        margin-left: 180px;
    }
}